ENV_NAME=dev
API_BASE_URL=https://demo.duendesoftware.com
OAUTH_TOKEN_URL=https://demo.duendesoftware.com/connect/token
OAUTH_CLIENT_NAME_A=client_a
OAUTH_CLIENT_ID_A=m2m
OAUTH_CLIENT_SECRET_A=secret
OAUTH_SCOPE_A=api
OAUTH_CLIENT_NAME_B=client_b
OAUTH_CLIENT_ID_B=m2m
OAUTH_CLIENT_SECRET_B=secret
OAUTH_SCOPE_B=api
TOKEN_CACHE_PATH=.cache/token_cache.json
LOG_CONSOLE_LEVEL=INFO
LOG_FILE_LEVEL=DEBUG
TIMEZONE=UTC
PLAYWRIGHT_LAUNCH_ARGS=--no-sandbox,--disable-dev-shm-usage,--disable-gpu,--disable-background-timer-throttling,--disable-backgrounding-occluded-windows,--disable-renderer-backgrounding
